.my-container {
    height: 100vh;
    background-color: #eee;
}

.items {
    padding: 20px;    
    text-align: center;
}

.my-flex-container {
    height: 70vh;
    background-color: antiquewhite;
}